.content {
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem 0;

}