.moreInfoContainer {
    /* background-color: white; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-right: auto;
    margin-top: 5rem;
}

.textContainer {
    text-align: start;
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem 5rem;
    background-color: rgb(129, 85, 64);
    color: white;
}