.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
h1 {
  animation: fade 1.2s forwards ease-in;
  margin-top: 30%;
  font-size: 50px;
}
h2 {
  animation: fade 1.2s forwards ease-in;
  animation-delay: 1.2s;
  opacity: 0;
  justify-self: center;
}
a .arrow {
  margin-top: 15rem;
  margin-bottom: 5rem;
  font-size: 36px;
  animation: fade 1s forwards ease-in;
  animation-delay: 3s;
  opacity: 0;
  color: white;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 50%;
  z-index: -1;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
