.additionalContainer {
    /* background-color: white; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-top: 5rem;
}

.textContainer {
    text-align: end;
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem 5rem;
    background-color: rgb(230, 211, 182);
}